In [1]:
import sqlite3

In [2]:
import pandas as pd

In [3]:
conn = sqlite3.connect('Store.db')

In [4]:
df = pd.read_csv('concessionária.csv')

In [5]:
c = conn.cursor()

In [14]:
df = pd.DataFrame(c.fetchall())

In [15]:
c.execute("UPDATE Concessionária SET preco_carro='890000,00' where index_id='6' ")
conn.commit()

##### Pedido de alteração de preço do index 9.

In [16]:
c.execute("UPDATE Concessionária SET preco_carro='700000,00' where index_id='9' ")
conn.commit()

##### Pedido de alteração de CEP da cliente Maria Oliveira

In [17]:
c.execute("UPDATE Concessionária SET cep_cliente ='89100-050' where index_id='2'")
conn.commit()

##### Pedido de inserção de uma nova compra realizada

In [18]:
c.execute("INSERT INTO Concessionária (index_id, nome_cliente, email_cliente, telefone_cliente, cep_cliente, carro_adquirido, preco_carro, data_compra) VALUES (33, 'Erick Guimarães', 'erickgf01@yahoo.com', '(21) 99830-9909', '98822-313', 'Chevrolet Camaro', '180000,00', '2022-09-022' )")
conn.commit()

In [41]:
conn.close()

In [40]:
conn.commit()

#### Inserção de uma nova coluna

In [ ]:
c.execute("ALTER TABLE Concessionária ADD COLUMN dt_nascimento_cliente TEXT")

In [8]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1984/10/02' WHERE index_id=1")

In [7]:
conn.commit()

In [9]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1967/12/03' WHERE index_id=0")

In [10]:
conn.commit()

In [11]:
c.execute("UPDATE Concessionária SET email_cliente = 'pedro.souza00@icloud.com' WHERE index_id=3")

In [12]:
conn.commit()

#### Inserção de uma nova compra no Banco de Dados

In [13]:
c.execute("INSERT INTO Concessionária (index_id, nome_cliente, email_cliente, telefone_cliente, cep_cliente, carro_adquirido, preco_carro, data_compra, dt_nascimento_cliente) VALUES (34, 'Pedro Souza', 'pedro.souza00@icloud.com', '(41) 96666-6666', '89012-345', 'BMW X5', '385000,00', '2022-12-022', '1989/02/10')")

In [14]:
conn.commit()

In [15]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1989/02/10' WHERE index_id=3")

In [ ]:
conn.commit()

In [11]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1976/05/22' WHERE index_id=5")

In [12]:
conn.commit()

In [13]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1997/09/15' where index_id=4")

In [14]:
conn.commit()

In [15]:
c.execute("INSERT INTO Concessionária (index_id, nome_cliente, email_cliente, telefone_cliente, cep_cliente, carro_adquirido, preco_carro, data_compra, dt_nascimento_cliente) VALUES (35, 'Ricardo Alburquerque', 'ricardo.souza00@gmail.com', '(31) 97777-6699', '09812-345', 'Mercedes-Benz C63', '185000,00', '2023-11-029', '1979/05/20')")

In [16]:
conn.commit()

In [17]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1991/09/11' WHERE index_id=6")

In [ ]:
conn.commit()

In [6]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1998/06/10' WHERE index_id=7")

In [7]:
conn.commit()

In [8]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1978/09/12' WHERE index_id=8")

In [9]:
conn.commit()

In [10]:
conn.close()

In [6]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1987/09/10' WHERE index_id=26")

In [7]:
conn.commit()

In [8]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1999/04/22' WHERE index_id=27")

In [9]:
conn.commit()

In [10]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1991/09/29' WHERE index_id=28")

In [11]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1979/05/21' WHERE index_id=29")

In [12]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1992/05/27' WHERE index_id=30")

In [13]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1998/06/12' WHERE index_id=31")

In [14]:
conn.commit()

In [15]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1992/01/12' WHERE index_id=32")

In [16]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1989/03/11' WHERE index_id=33")

In [17]:
c.execute("UPDATE Concessionária SET dt_nascimento_cliente = '1977/01/22' WHERE index_id=34")

In [18]:
conn.commit()

In [21]:
c.execute("DELETE FROM Concessionária WHERE index_id= 'NULL'")

In [22]:
conn.commit()

In [23]:
conn.close()